<article class="summary">
    <h1 class="summary__title">{{.Title}}</h1>
    {{ with .Params.Image.Src }}
    {{- partial "blocks/image.html" (dict "src" . "alt" $.Title "class" "summary__image") -}}
    {{ end }}
    <p>{{.Summary}}</p>
    <div class="reading-time">
        <p dir="ltr"> Reading time: {{.ReadingTime}} minutes </p>
    </div>
    <a class="button" role="button" href="{{.Permalink}}" data-rel="prefetch"
        aria-label="{{ i18n "keepReading" }} {{.Title}}">{{ i18n "keepReading" }}</a>
</article>
